{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aktywacja</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Od</th>
                <td>{{ entity.od|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Do</th>
                <td>{{ entity.do|date('Y-m-d H:i:s') }}
                    
                    {% if entity.aktywacja ==null %}
                        
                       Dezaktywowane 
                       
                    {%elseif entity.aktywacja|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s') and entity.do|date('Y-m-d H:i:s') <=  "now"|date('Y-m-d H:i:s') %}
                   
                    <p>Koniec aktywacji</p>
                    
                    {% elseif entity.aktywacja|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s') and "+4 days"|date('Y-m-d H:i:s') >= entity.do|date('Y-m-d H:i:s') %}
                    
                    <p>Aktywacja sie konczy</p>
                        
                    {% elseif entity.aktywacja|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s') %}
                        
                        Aktywne{%endif%}
                        
                    {{ message }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('aktywacja') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('aktywacja_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
